body {
  //   img {
  //     width: 100%;
  //   }
  // background-color: rgb(179, 174, 174);
}

.page--title {
  padding-bottom: 60px;
  padding-left: 3%;
  display: flex;
  align-items: center;
  &::after {
    border: 2px salmon solid;
    content: "";
    width: 80px;
    // flex-grow: 1; //横いっぱいに線を引きたいとき
    margin-left: 15px;
  }
}

//
// header
//

header {
  //   display: flex;
  //   justify-content: space-between;
  height: 70px;
  .top--title {
    line-height: 70px;
    font-size: 5vw;
  }
  .nav--pc {
    display: none;
  }
  //
  //nav
  //

  nav {
    // position: relative;
    //   上を有効にすると現部消えてしまう？？
    // height: 100vh;
    // overflow: hidden;
    //
    //

    // .span--wrap {
    //   width: 30px;
    //   height: 26px;
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   right: 10px;
    //   margin: auto;
    //   cursor: pointer;
    // }
    // .btn--wrap {
    //   display: block;
    //   position: absolute;
    //   width: 30px;
    //   height: 2px;
    //   background: #fff;
    //   -webkit-transition: 0.3s;
    //   transition: 0.3s;
    // }
    //
    //
    ul {
      width: 100%;
      height: 100%;
      // background-color: #2a9ee04a;
      // margin: 0;
      // padding: 0;
      text-align: center;
      position: absolute;
      // top: 0%;
      right: -100%;
      transition: 1s;
      // z-index: 10;
      .menu--2 {
        margin-top: 20px;
        // display: inline-block;
        z-index: 1000000;
        padding: 0;
        margin-top: 65px;
        //
        // background: #fff;
        a {
          display: inline-block;
          position: relative;
          &::before {
            content: attr(data);
            display: block;
          }
          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            justify-content: center;
            height: 5px;
            background-color: rgb(214, 31, 31);
            // transition: width 300ms;
            transition: all 0.3s ease 0s;
            width: 0;
            cursor: pointer;
            color: cadetblue;
          }
          &:hover {
            cursor: pointer;
            color: cadetblue;
            &::after {
              width: 100%;
            }
          }
        }
      }
      //
    }
    li:first-child {
      margin-top: 180px;
    }
  }

  input {
    // width: 40px;
  }
  label {
    width: 30px;
    height: 30px;
    // border: 1px solid pink;
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 1000;
  }
  .hum {
    // border: 1px solid red;
  }
  span {
    width: 20px;
    height: 2px;
    background-color: rgb(27, 197, 112);
    position: absolute;
    right: 15px;
    transition: 0.3s;
    z-index: 100;
  }
  .span1 {
    top: 24px;
  }
  .span2 {
    top: 31px;
  }
  .span3 {
    top: 38px;
  }
  #menu:checked ~ .span2 {
    display: none;
  }
  #menu:checked ~ .span1 {
    width: 27px;
    transform: rotate(45deg);
    top: 29px;
    right: 12px;
  }
  #menu:checked ~ .span3 {
    width: 27px;
    transform: rotate(-45deg);
    top: 29px;
    right: 12px;
  }
  #check:checked ~ ul {
    right: 0;
  }
  .back {
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
  }
}

// しまぶーのハンバーガーメニュー

input[type="checkbox"] {
  position: absolute;
  left: -50vw;
  // 本当はnoneで消したいがそれをするとinput idとlabel forが効かなくなるので消すのではなくどこかに隠す
}

input[type="checkbox"]:checked ~ ul {
  left: 0;
  z-index: 10;
  background: rgba($color: #ee9eda, $alpha: 0.5);
}
input[type="checkbox"]:checked ~ a {
  left: 0;
  z-index: 10;
  background-color: rgba($color: #b34840, $alpha: 0.5);
}
input[type="checkbox"]:checked ~ .back {
  // position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
  // background: rgba($color: #ee9eda, $alpha: 0.5);
}

@media (min-width: 950px) {
  header {
    height: auto;
    display: flex;
    position: absolute;
    top: 50px;
    left: 75px;
    .top--title {
      font-size: 38px;
      line-height: 61px;
    }
    .nav--pc {
      display: block;
      ul {
        display: flex;
        align-items: center;
        height: 60px;
        line-height: 60px;
        li {
          font-size: 18px;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
          margin-left: 24px;
        }
      }
    }
    nav {
      display: none;
      ul {
        display: flex;
        right: 0;
        width: auto;
        height: auto;
        &:hover {
          background-color: 0;
        }
        li {
          padding: 0;
        }
      }
      span {
        display: none;
      }
      label {
        display: none;
      }
    }
    .menu {
      padding: 0;
    }
  }
}

//
// eyecatch
//

.eyecatch {
  // height: 625px;
  height: 100vh;
  background-image: url(./img/45170-SaeKano-iPhone-Android-Wallpaper.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .eyecatch--title {
    background-color: rgba($color: rgba(15, 15, 19, 0.986), $alpha: 0.5);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // height: 635px;
    line-height: 84px;
    font-size: 6vw;
    font-family: "メイリオ", "Meiryo", sans-serif;
    font-style: normal;
    color: rgba($color: rgb(238, 56, 177), $alpha: 0.9);
  }
  .eyecatch--title--wrap {
    .eyecatch--title--pc {
      display: none;
    }
  }
  img {
    display: none;
  }
}

//
//レスポンシブ

@media (min-width: 550px) {
  // .eyecatch--title {
  //   position: relative;
  //   top: 270px;
  // }
}

//
//

@media (min-width: 950px) {
  .eyecatch {
    height: auto;
    background-image: none;
    display: -webkit-box;
    // display: flex;
    // justify-content: space-between;
    .eyecatch--title--wrap {
      width: 45%;
      .eyecatch--title--pc {
        display: flex;
        justify-content: center;
        padding-top: 300px;
        height: 100vh;
        text-align: right;
        font-size: 38px;
        font-family: "Noto Serif JP", serif;
      }
      .eyecatch--title--pc--second {
        margin-top: 48px;
        font-family: "Zapfino";
        line-height: 3;
      }

      .eyecatch--title {
        display: none;
      }
    }
    img {
      display: block;
      height: 100vh;
      width: 55%;
      background-size: cover;
    }
  }
}

//
// concept
//
.concept {
  padding: 65px 3%;
  // background-color: pink;
  position: relative;
  // &::after {
  //   position: absolute;
  //   background-color: pink;
  //   top: 180px;
  //   right: 0;
  //   width: 100%;
  //   height: 480px;
  //   z-index: -999;
  //   content: "";
  // }
  .concept--img {
    // width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    .img--1 {
      // width: 60%;
      width: 50%;
      margin-right: 13px;
    }
    .img--2 {
      // width: 35%;
      width: 50%;
    }
  }
  .concept--subtitle--wrap {
    .concept--subtitle {
      text-align: center;
      padding-top: 60px;
      font-size: 18px;
      font-family: serif;
      letter-spacing: 0.5em;
    }

    p {
      padding-top: 25px;
      letter-spacing: 0.01em;
      // background-color: pink;
      line-height: 26px;
      &::after {
        display: block;
        position: absolute;
        background-color: pink;
        top: 180px;
        right: 0;
        width: 100%;
        height: 74%;
        z-index: -999;
        content: "";
      }
    }
  }
}

//
//conceptレスポンシブ

@media (min-width: 550px) {
  .concept {
    padding: 150px 8% 65px 8%;
    .concept--img {
      width: 100%;
      .img--1 {
        width: 68%;
      }
      .img--2 {
        width: 30%;
      }
    }
    p::after {
      top: 285px;
      height: 58%;
    }
  }
}

@media (min-width: 950px) {
  .concept {
    .concept--img {
      height: 415px;
    }
    .concept--subtitle--wrap {
      display: flex;
      justify-content: space-between;
      .concept--subtitle {
        font-size: 40px;
        font-family: "Noto Serif JP", serif;
        letter-spacing: 0.5em;
        max-width: 477px;
        text-align: left;
      }
      p {
        font-size: 16px;
        color: #ffffff;
        font-family: "Noto Serif JP", serif;
        width: 45%;
      }
    }
  }
}

//
// menu
//
.menu {
  padding: 65px 3%;
  .menu--wrap {
    img {
      width: 100%;
      height: 272px;
      // background-size: cover;
    }
    .menu--title {
      padding-bottom: 50px;
      font-size: 30px;
      font-family: sans-serif;
    }
    .menu--text--wrap {
      padding: 25px 20px 50px 20px;
    }
    .menu--text {
      line-height: 26px;
      letter-spacing: 0.1em;
    }
    .menu--price {
      padding-top: 40px;
      text-align: right;
    }
  }
}

//
// menuレスポンシブ

@media (min-width: 550px) {
  .menu {
    padding: 150px 8% 65px 8%;
    .menu--wrap {
      display: flex;
      justify-content: space-between;
      img {
        width: 45%;
        max-width: 270px;
      }
      .menu--text--wrap {
        padding-top: 0;
        padding-right: 0;
        padding-left: 8px;
        .menu--title {
          font-size: 30px;
          line-height: 48px;
          font-family: sans-serif;
        }
        .menu--text {
          font-family: "Roboto Mono for Powerline";
          letter-spacing: 0.0000000001rem;
        }
      }
    }
  }
}

@media (min-width: 950px) {
  .menu {
    .menu--wrap--all {
      display: flex;
      justify-content: space-between;
      .menu--wrap {
        display: block;
        width: 270px;
        .menu--title {
          padding-top: 45px;
        }
        // .menu--text {
        //   padding-top: 45px;
        // }
        img {
          width: 100%;
        }
      }
    }
  }
}

//
// access
//

.access {
  // background-color: beige;
  position: relative;
  // padding-bottom: 100px;
  .access--wrap {
    background-color: beige;
    padding-bottom: 100px;
  }
  iframe {
    height: 230px;
    width: 100%;
  }
  ul {
    width: 100%;
    display: block;
    padding-left: 15px;
    li {
      color: red;
      font-family: sans-serif;
      font-size: 16px;
      line-height: 26px;
      padding-bottom: 30px;
      &:first-child {
        padding-top: 105px;
        padding-bottom: 35px;
        font-family: sans-serif;
        font-size: 24px;
        list-style: 38px;
        color: rgb(22, 33, 133);
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

//
// accessレスポンシブ

@media (min-width: 550px) {
  .access {
    .access--wrap {
      display: flex;
      // flex-flow: row-reverse;
      justify-content: left;
      position: relative;
      .access--map {
        // position: relative;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60%;
        iframe {
          order: 2;
          height: 426px;
        }
      }
      ul {
        // order: -1;
        width: 30%;
      }
    }
  }
}

@media (min-width: 950px) {
  .access {
    .page--title {
      margin-top: 100px;
      padding-left: 8%;
    }
    ul {
      padding-left: 8%;
    }
  }
}

footer {
  margin-top: 175px;
  position: relative;
  .reserve--wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    &::before {
      border-top: 2px salmon solid;
      content: "";
      width: 80vw;
      text-align: center;
      top: -72px;
      left: 10vw;
      display: inline-block;
      position: absolute;
    }
    .reserve {
      border: pink 1px solid;
      padding: 10px 25px;
    }
  }
  .footer--icon--wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 10vw 110px;
  }
}

@media (min-width: 950px) {
  footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    height: 32px;
    line-height: 32px;
    padding: 0 10vw 110px;
    box-sizing: content-box;
    .reserve--wrap {
      order: 2;
      display: -webkit-box;
      // margin-right: 8%;
      padding-bottom: 0;
      // 要素に高さがつかなかったので書いた
      .reserve {
        padding: 10px 40px;
      }
    }
    .footer--icon--wrap {
      padding: 0;
      order: 1;
      p {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 32px;
        margin-right: 10px;
        // order: 2;
      }
      .icon--wrap {
        font-size: 22px;
        line-height: 32px;
        height: 32px;
        // vertical-align: 0.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        i:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
